{% if collections.posts.length > 0 %}
  <ul>
    {% for post in collections.posts | reverse %}
      <li>
        <span>{{ post.date | htmlDateString }}</span>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
